<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e34ab822-ab97-4fd0-8b92-4a46d91d21a9/resourceGroups/Dataverse-api_group/providers/Microsoft.Web/sites/Dataverse-api</ResourceId>
    <ResourceGroup>Dataverse-api_group</ResourceGroup>
    <ApiResourceId>/subscriptions/e34ab822-ab97-4fd0-8b92-4a46d91d21a9/resourceGroups/Dataverse-api_group/providers/Microsoft.ApiManagement/service/DataverseAPIapi/apis/DataverseAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dataverse-api-acgde3cjbkbmhxc5.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>731816df-1fac-4852-8400-0a7340b85704</ProjectGuid>
    <MSDeployServiceURL>dataverse-api-acgde3cjbkbmhxc5.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Dataverse-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ5h5nmGVe0ivuUaxM0/wgQAAAAACAAAAAAADZgAAwAAAABAAAADBi0pD/YbxE6FH0nj1QFsfAAAAAASAAACgAAAAEAAAAH5vi5aKj3HIsGhUOWfEqAgYAAAAbJG9pvBlQAOy61l4tmNNiz1hWrWnBULtFAAAADem6hu+HHqbvCP4ecCTREWHO8tP</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>